/*Font face*/
@font-face {
   font-family: "Karla";
   src: url("../fonts/Karla-Regular.woff2") format("woff2"),
       url("../fonts/Karla-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Karla";
   src: url("../fonts/Karla-Bold.woff2") format("woff2"),
       url("../fonts/Karla-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
/*Global styles*/
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Body*/
body{
   font-family: "Karla", sans-serif;
   font-size: 16px;
   font-weight: normal;
   line-height: 1.5;
   background-color: e6eff6;
   color: #fff;
   margin: 0;
}

/*Container*/
.container {
   width: 100%;
   max-width: 675px;
   padding: 0px 20px;
   margin: 160px auto;
}

/*Card*/
.card {
   background: #fff;
   border-radius: 10px;
   box-shadow: 0 0 10px hsl(218, 22%, 67%);
}
   /*Card Header*/
.card__header {
   padding: 45px 65px 45px 40px;
}
.card__heading {
   color: hsl(179, 62%, 43%);
   margin: 0px 0px 30px 0px;
}
.card__subtitle {
   color: hwb(71 20% 13%);
   margin: 0px 0px 20px 0px;
}
.card__text {
   color: hsl(218, 22%, 67%);

}
   /*Card Body*/
.card__items {
   display: flex;
}
.card__item {
   width: 50%;
   background-color: #2bb3b1;
   padding: 45px 40px;
   border-radius: 0 0 0 10px;
}
.card__item:nth-child(2){
   background-color: #4abebd;
   border-radius: 0 0 10px 0;
}
.card__title {
   margin: 0px 0px 20px 0px;
}
.card__price {
   display: flex;
   align-items: center;
   color: #67d5d4;
   margin: 0px 0px 20px 0px;
}
.big-fz {
   color: #fff;
   font-size: 34px;
   margin: 0px 14px 0px 0px;
}
.card__less-text {
   opacity: 0.7;
   margin: 0px 0px 30px 0px;
}
.card__btn {
   display: inline-block;
   width: 100%;
   font-size: 18px;
   font-weight: 700;
   text-align: center;
   padding: 16px 0px;
   border-radius: 10px;
   text-decoration: none;
   background-color: #c0df34;
   color: #fff;
}
.card__main-text {
   font-size: 14px;
   opacity: 0.7;
   line-height: 1.6;
}

/*Media Query*/
@media (max-width: 768px) {
   .card__header {
      padding: 30px 25px;
   }
   .card__heading {
      margin: 0px 0px 20px 0px;
   }
   .card__items {
      flex-direction: column;
   }
   .card__item {
      width: 100%;
      border-radius: 0;
      padding: 30px 25px;
   }
   .card__item:last-child {
      border-radius: 0 0 10px 10px;
   }

}
@media (max-width: 375px) {
   .card__heading{
      font-size: 20px;
   }
   .card__subtitle{
      font-size: 14px;
   }
   .card__text{
      font-size: 12px;
   }
}