/*Font face*/
@font-face {
   font-family: "Karla";
   src: url("../fonts/Karla-Regular.woff2") format("woff2"),
       url("../fonts/Karla-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Karla";
   src: url("../fonts/Karla-Bold.woff2") format("woff2"),
       url("../fonts/Karla-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
/*Global styles*/
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Body*/
body{
   font-family: "Karla", sans-serif;
}